.write-review-btn{
    margin-right: 30px;
    background-color: #E74C3C ;
}
.write-review-btn:hover{
    background-color: #f16b5c;
}
.reviews-user-icon{
    padding-right: 9px;
    font-size: 25px;
}
.write-review-description{
    width: 100%;
    min-height: 150px;
}