.cat-item-card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px lightgray solid;
    align-items: center;
    padding: 10px;
    margin: 10px;
    width: 17vw;
    height: 350px;
}

.card-button{
    position: absolute;
    margin-top: 275px;
}

.cat-item-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 10vh;
    border: 1px lightgray solid; 
    background-color: lightgray;   
}

.cat-card-top-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.cat-card-top-row img{
    align-items: end;
    justify-content: end;
    margin-left: 25px;
}

.card-heart-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.card-heart-container img{
    width: 25px;
    height: 25px;
}

.card-details{
    display: flex;
    flex-direction: row;
    /* align-content: center; */
    justify-content: space-between;
    /* width: 15vw; */
}

/* .card-details h5{
    justify-content:first baseline;
} */

/* .card-details p{
    justify-content:last baseline;
} */

.card-details-title{
    display: flex;
    align-items: flex-end;
    width: 80%;
    /* text-wrap: wrap; */
}

.card-details-price{
    position: absolute;
}

.cat-card-description{
    width: 100%;
    text-wrap: wrap;
}