.cat-item-card-container {
    display: flex;
    flex-direction: column;
    border: 1px lightgray solid;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.cat-item-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 20vh;
    border: 1px lightgray solid;    
}