.top-Navbar{
  display: flex;
  justify-content: space-around;
  
}

.second-Nav{
  background-color: darkblue;
  display: flex;
  justify-content: space-evenly;
  

}
ul {
list-style-type: none;
}

.cart-icon{
  color: 007bff;
}