.item-filter{
    width: 25vw;
    height: 75vh;
    width: 10vw;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
}

.delivery-filter{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.filter-input{
    height: 24px;
    width: 140px;
    text-align: center;
}