home-page-container{
    padding-top: 10px;
}

.cat-preview-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cat-preview{
    border: 1px solid lightgray;
    margin: 10px;
}

.itemsInCat{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.see-all{
    padding-top: 20px;
}